@tailwind base;

html,
body {
  height: 100%;
  background: black;
}

p,
h1,
h2,
h3,
button {
  color: rgba(253, 162, 41, 1);
  text-shadow: rgba(253, 162, 41, 0.5) 0px 0px 10px;
}

@tailwind components;
@tailwind utilities;
